body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Mshtakan';
  src: local('Mshtakan'),
       url('./assets/fonts/mshtakan.ttf') format('truetype');
}

@font-face {
  font-family: 'IowanOldStyle';
  src: local('IowanOldStyle'),
       url('./assets/fonts/IowanOldStBTRoman.ttf') format('truetype');
}

@font-face {
  font-family: 'New-York-Extra-Large_Regular';
  src: local('New-York-Extra-Large_Regular'),
       url('./assets/fonts/new-york-extra-large_regular.ttf') format('truetype');
}
